/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 15px;
}
  
  /* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    background-color: #e4ad7a;
    color: white;
}

.btnH {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 15px;
}